body{
    background: $primary;
    font-size: 15px;
    font-family: $font-main;
    color: $secondary;
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: $secondary;
}

p{
    margin-bottom: 30px;
}
h1 {
    font-size: 36px;
}
img {
    border-radius: 20px;
}