html {
  scroll-behavior: smooth;
}

body{
    background: $primary;
    font-size: 15px;
    font-family: $font-main;
    color: $secondary;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: $secondary;
}

p{
    margin-bottom: 30px;
}
h1 {
    font-size: 48px;
}
img {
    border-radius: 20px;
}
.section-separator {
    width: 60%;
    padding-top: 80px;
    border-bottom: 3px solid white;
    border-radius: 100;
    margin: 0 auto;
}

.text-gradient{
      background: linear-gradient(90deg, #ff7a00, #FF00AA, #BD00FB);
  background-size: 200%;
  animation: move 2s linear infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  padding: 40px;
}

@keyframes move {
    0%   { background-position: 0% }
  50%  { background-position: 100% }
  100% { background-position: 0% }
}