body{
    background: $primary;
    font-size: 15px;
    font-family: $font-main;
    color: $secondary;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: $secondary;
}

p{
    margin-bottom: 30px;
}
h1 {
    font-size: 36px;
}
img {
    border-radius: 20px;
}
.section-separator {
  width: 60%;
  padding-top: 80px;
  border-bottom: 3px solid white;
  border-radius: 100;
margin: 0 auto;}