.btn {
    border: 1px solid $secondary;
    color: $secondary;
    padding: 12px 34px;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        background: $secondary;
        color: $primary;
        transition: 1s;
    }

}

.btn-light {
    
    @extend .btn;
    background: $secondary;

    color: $primary;
    margin: 30px;
}

.btn-layout{
    @extend .btn;
    margin-top: 50px;
        

}
