/* ACCUEIL */
@import 'mixins';

.header{
    width: 100%;

    position: absolute;
    z-index: 10;

    @include flex-center (space-between, center);
        img{
    width: 60px;
    padding: 20px;    }
    
    .navbar{

        @include flex-center (space-between, center, 2em);

        a{
            
            padding: 30px;
            &:hover {
                border-bottom: 1px solid $secondary;
            }
        }




    }
}



.hero{
    height: 100vh;
    position: relative;

    &::before {

        content: "";
        position: absolute;
        inset: 0;
        background-image: url(images/background.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        filter: blur(8px);
        transition: filter 1.2s ease;
        z-index: 0;
    }

    &:hover::before {
        filter: blur(0);
    }
   

    @include flex-center (center, center);

    .textbox{
        max-width: 480px;
        text-align: center;
        position: relative;
        z-index: 1;
        
    }
}




/* SERVICES A PROPOS */

.services {
    @include flex-center (center, center);
   padding: 100px 40px;
   flex-direction: column;
   text-align: center;

   img{
    width: 310px;
   }

   .services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    }


  
}






/* PROJECT A PROPOS */

.projects {

    margin-bottom: 100px;
    h1{
        margin-bottom: 80px;
    }
    .project-item{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
        max-width: 1200px;
        margin: 0 auto 80px;

        &.reverse {
            direction: rtl;
            > * {
                direction: ltr;
            }
        }
        .project-infos{
            text-align: center;
        }
    } 
    
}






/* TEAM ÉQUIPE */
.team{
    padding: 100px 40px 80px;

    .team-member{
    max-width: 90%;
    margin:0 auto 100px;
    }

    .avatar{
        width: 180px;
    }

    .member-intro{
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .skills-columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        margin-bottom: 40px;
    }

    .skills-lists{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .skill-card{
        background-color: $tertiary;
        border-radius: 20px;
        padding: 20px 18px;
    }
}

