.header{
    width: 100%;

    position: absolute;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    

}
.navbar{
    display: flex;
    align-items: center;
    gap: 2em;
    color:white;

    a{
        padding: 20px;
        &:hover {
            border-bottom: 1px solid white;
        }
    }
}

.navbar img{
    width: 50px;
}

.hero{
    height: 100vh;
    position: relative;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   

    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
    max-width: 480px;
    text-align: center;
}
